body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: linear-gradient(135deg, #667eea, #764ba2);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid rgb(34, 32, 32);
    background-color: rgba(248, 242, 242, 0.8);
    transition: background-color 0.3s ease;
    color: black;
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

#clearTasksBtn {
    margin-top: 10px;
    background-color: #dc3545;
}

#clearTasksBtn:hover {
    background-color: #c82333;
}